@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Montserrat;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.1rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffb18a !important;
}
.bg-success {
  background-color: #1dc9cb !important;
}
.bg-info {
  background-color: #ff8a8a !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2bdc9d !important;
  border-color: #2bdc9d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #19976a !important;
  border-color: #19976a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #19976a !important;
  border-color: #19976a !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff8a8a !important;
  border-color: #ff8a8a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
}
.btn-success,
.btn-success:active {
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #127e7f !important;
  border-color: #127e7f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #127e7f !important;
  border-color: #127e7f !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #969696 !important;
  border-color: #969696 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #969696 !important;
  border-color: #969696 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffb18a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ff7733 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2bdc9d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #19976a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2bdc9d !important;
  border-color: #2bdc9d !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff8a8a;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ff3333 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8a8a !important;
  border-color: #ff8a8a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1dc9cb;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #127e7f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1dc9cb !important;
  border-color: #1dc9cb !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c1c1c1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #969696 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #444444;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #191919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffb18a !important;
}
.text-secondary {
  color: #2bdc9d !important;
}
.text-success {
  color: #1dc9cb !important;
}
.text-info {
  color: #ff8a8a !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ffb18a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #2bdc9d !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1dc9cb !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #ff8a8a !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c1c1c1 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #444444 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffb18a;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff8a8a;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffb18a;
  border-color: #ffb18a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffb18a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bef5f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffb18a !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ffb18a;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffb18a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffb18a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffb18a;
  border-bottom-color: #ffb18a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffb18a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #2bdc9d !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffb18a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-qKSDBfAnnY {
  background-image: url("../../../assets/images/wallpapertip-hd-wallpaper-collection-2281542-1920x1080.jpg");
}
.cid-qKSDBfAnnY .mbr-overlay {
  background: #444444;
}
.cid-qKSDBfAnnY .mbr-section-subtitle {
  color: #e3e3e3;
}
.cid-qKSDBfAnnY .mbr-section-subtitle,
.cid-qKSDBfAnnY mbr-section-btn {
  color: #ffffff;
}
.cid-qKSDBfAnnY B {
  color: #333333;
}
.cid-qKSDBfAnnY H1 {
  color: #444444;
}
.cid-ssBHtP0Gwh {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssBHtP0Gwh .card-img span {
  color: #ffb18a;
  font-size: 3.5rem;
}
.cid-ssBHtP0Gwh .mbr-text {
  color: #656565;
}
.cid-ssBHtP0Gwh p {
  margin: 0;
}
@media (max-width: 576px) {
  .cid-ssBHtP0Gwh .card {
    margin-bottom: 2rem;
  }
}
.cid-ssBHtP0Gwh .card-title,
.cid-ssBHtP0Gwh .card-img {
  color: #000000;
}
.cid-ssBHtP0Gwh .mbr-section-title {
  text-align: center;
}
.cid-ssBHtP0Gwh .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-qKSHY8QRbm {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qKSHY8QRbm .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-qKSHY8QRbm .card-img {
  padding-bottom: 2rem;
  border-radius: .25rem;
  overflow: hidden;
}
.cid-qKSHY8QRbm .card-img img {
  border-radius: .25rem;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.cid-qKSHY8QRbm .section-text,
.cid-qKSHY8QRbm .card-text {
  color: #8d97ad;
}
@media (max-width: 767px) {
  .cid-qKSHY8QRbm .section-text,
  .cid-qKSHY8QRbm .card-text,
  .cid-qKSHY8QRbm .card-title,
  .cid-qKSHY8QRbm .mbr-section-title {
    text-align: center;
  }
}
.cid-qKSHY8QRbm .section-text {
  color: #353535;
}
.cid-qKSHY8QRbm .card-text,
.cid-qKSHY8QRbm .mbr-section-btn {
  color: #353535;
}
.cid-ssBCIFvSwJ {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/wallpapertip-hd-wallpaper-collection-2281542-1920x1080.jpg");
}
.cid-ssBCIFvSwJ .card-title {
  line-height: 1.6;
  margin: 0;
}
.cid-ssBCIFvSwJ .card {
  overflow: visible;
  transition: all 0.3s;
}
.cid-ssBCIFvSwJ .card:hover {
  margin-top: -0.6rem;
}
.cid-ssBCIFvSwJ .card-wrapper {
  position: relative;
}
.cid-ssBCIFvSwJ .card-img {
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  border-radius: 6px;
}
.cid-ssBCIFvSwJ .card-img:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.cid-ssBCIFvSwJ .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  background: black;
  opacity: 0.2;
  z-index: 10;
  pointer-events: none;
  border-radius: 6px;
}
.cid-ssBCIFvSwJ .big {
  margin-top: -25%;
}
.cid-ssBCIFvSwJ .card-box {
  position: absolute;
  overflow: hidden;
  margin-bottom: -8px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 100;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 991px) {
  .cid-ssBCIFvSwJ .small {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .cid-ssBCIFvSwJ .card:not(.last-child) {
    padding-bottom: 1.5rem !important;
  }
}
.cid-ssBCIFvSwJ .mbr-section-title {
  color: #ffffff;
}
.cid-ssBCIFvSwJ .mbr-section-sub-title {
  color: #ffffff;
}
.cid-ssBZzBgPEZ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ssBZzBgPEZ .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #ececec;
  transition: all 0.3s;
}
.cid-ssBZzBgPEZ .card-wrapper:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-top: -0.6rem;
}
.cid-ssBZzBgPEZ p {
  line-height: 1.6;
}
.cid-ssBZzBgPEZ .btn {
  border: none;
  background: transparent;
  font-weight: 400 !important;
}
.cid-ssBZzBgPEZ .card-title {
  color: #000000;
  margin: 0;
  line-height: 1.3;
  padding-bottom: 1.5rem;
}
.cid-ssBZzBgPEZ .card-img {
  overflow: hidden;
  max-height: 280px;
  border-radius: 0;
}
.cid-ssBZzBgPEZ img {
  transition: all 0.3s;
}
.cid-ssBZzBgPEZ .card-box {
  padding: 1.5rem;
}
.cid-ssBZzBgPEZ .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-ssBZzBgPEZ .card-box > p,
.cid-ssBZzBgPEZ .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-ssBZzBgPEZ .mbr-section-sub-title {
  text-align: center;
  color: #353535;
}
.cid-ssC6IvK5SQ {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-ssC6IvK5SQ .card-wrapper {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #444444;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #ececec;
  transition: all 0.3s;
}
.cid-ssC6IvK5SQ .card-wrapper:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-top: -0.6rem;
}
.cid-ssC6IvK5SQ p {
  line-height: 1.6;
}
.cid-ssC6IvK5SQ .btn {
  border: none;
  background: transparent;
  font-weight: 400 !important;
}
.cid-ssC6IvK5SQ .card-title {
  color: #000000;
  margin: 0;
  line-height: 1.3;
  padding-bottom: 1.5rem;
}
.cid-ssC6IvK5SQ .card-img {
  overflow: hidden;
  max-height: 280px;
  border-radius: 0;
}
.cid-ssC6IvK5SQ img {
  transition: all 0.3s;
}
.cid-ssC6IvK5SQ .card-box {
  padding: 1.5rem;
}
.cid-ssC6IvK5SQ .mbr-section-title {
  margin: 0 auto;
  color: #000000;
  text-align: center;
}
.cid-ssC6IvK5SQ .card-box > p,
.cid-ssC6IvK5SQ .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-ssC6IvK5SQ .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-ssChE816z0 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssChE816z0 .row {
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-ssChE816z0 .row .row {
    flex-direction: column-reverse;
  }
  .cid-ssChE816z0 .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-ssChE816z0 .text-wrapper {
  width: 70%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-ssChE816z0 .card1-subtitle {
  width: fit-content;
  background: #1dc9cb;
  border-radius: 16px;
  padding: 0 1rem;
  color: #ffffff;
}
.cid-ssChE816z0 .col-lg-4 {
  height: auto;
}
@media (max-width: 992px) {
  .cid-ssChE816z0 .col-12 {
    margin-bottom: 2rem;
  }
}
.cid-ssChE816z0 .card-wrapper {
  position: relative;
  height: 100%;
  z-index: 2;
  padding: 2rem;
}
@media (max-width: 767px) {
  .cid-ssChE816z0 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-ssChE816z0 .card-wrapper:hover img {
  transform: scale(1.1);
}
.cid-ssChE816z0 .card-wrapper .img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.cid-ssChE816z0 .img-wrapper img {
  transition: all 0.6s;
  height: 100%;
  object-fit: cover;
}
.cid-ssChE816z0 .card-subtitle {
  color: #ffffff;
}
.cid-ssChE816z0 .mbr-text {
  color: #555555;
}
.cid-ssChE816z0 .card2-title {
  color: #353535;
}
.cid-ssChE816z0 .card1-title {
  color: #103178;
}
.cid-ssChE816z0 .card2-subtitle {
  color: #ffb18a;
}
.cid-ssChE816z0 .card3-subtitle {
  color: #ffffff;
}
.cid-ssChE816z0 .card3-title {
  color: #ffc800;
}
.cid-ssChE816z0 .card3-price {
  color: #bbbbbb;
  text-decoration: line-through;
}
.cid-ssCj42ysXR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-ssCj42ysXR .carousel-item {
  justify-content: center;
}
.cid-ssCj42ysXR .carousel-item.active,
.cid-ssCj42ysXR .carousel-item-next,
.cid-ssCj42ysXR .carousel-item-prev {
  display: flex;
}
.cid-ssCj42ysXR .title_block {
  margin-bottom: 80px;
}
.cid-ssCj42ysXR .mbr-section-subtitle {
  margin-bottom: 16px;
  color: #000000;
  letter-spacing: 1.6px;
  line-height: 1;
  font-weight: 600;
}
.cid-ssCj42ysXR .mbr-section-title {
  color: #353535;
}
.cid-ssCj42ysXR .card_title {
  margin-bottom: 10px;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-ssCj42ysXR .user_descr {
  margin: 0;
}
.cid-ssCj42ysXR .user:hover img {
  transform: scale(1.1);
}
.cid-ssCj42ysXR .user:hover .card_title a {
  color: #ffb18a !important;
}
.cid-ssCj42ysXR .user_image {
  margin-bottom: 25px;
  overflow: hidden;
}
.cid-ssCj42ysXR .user_image img {
  width: 100%;
  object-fit: cover;
  transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cid-ssCj42ysXR li {
  opacity: 1;
  border: none;
  width: 15px;
  height: 2px;
  margin: 0 5px;
  max-width: 30px;
  max-height: 2px;
  background: rgba(255, 177, 138, 0.3);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cid-ssCj42ysXR li.active {
  opacity: 1;
  background-color: #ffb18a;
  width: 27px;
  height: 2px;
}
.cid-ssCj42ysXR .carousel-indicators {
  align-items: center;
  position: static;
  margin: 60px 0 0;
}
.cid-ssCj42ysXR .carousel-indicators li {
  border-radius: 0;
}
@media (max-width: 991px) {
  .cid-ssCj42ysXR .title_block {
    margin-bottom: 40px;
  }
  .cid-ssCj42ysXR .carousel-indicators {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cid-ssCj42ysXR .user {
    margin-top: 40px;
  }
  .cid-ssCj42ysXR .user:first-child {
    margin-top: 0;
  }
}
.cid-ssCj50MEqN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-ssCj50MEqN .container {
  max-width: 1400px;
}
.cid-ssCj50MEqN img,
.cid-ssCj50MEqN .item-img {
  width: 100%;
  position: relative;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ssCj50MEqN img:before,
.cid-ssCj50MEqN .item-img:before {
  content: '';
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  transition: all 0.3s;
  height: 100%;
  background: #4232e2;
  position: absolute;
  z-index: 10;
}
.cid-ssCj50MEqN img:hover:before,
.cid-ssCj50MEqN .item-img:hover:before {
  opacity: 0.2;
}
.cid-ssCj50MEqN .item:focus,
.cid-ssCj50MEqN span:focus {
  outline: none;
}
.cid-ssCj50MEqN .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-ssCj50MEqN .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ssCj50MEqN .item-content {
  padding-top: 1.5rem;
}
.cid-ssCj50MEqN .mbr-section-btn {
  margin-top: auto !important;
}
.cid-ssCj50MEqN .mbr-section-title {
  color: #232323;
}
.cid-ssCj50MEqN .mbr-text,
.cid-ssCj50MEqN .mbr-section-btn {
  color: #818181;
}
.cid-ssC5WiW2no {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1e2228;
}
.cid-ssC5WiW2no ul {
  padding: 0;
  margin: 0;
}
.cid-ssC5WiW2no ul li {
  list-style: none;
}
.cid-ssC5WiW2no ul li h4 {
  margin: 0;
}
.cid-ssC5WiW2no ul li h4.display-4 {
  line-height: 1.75;
}
.cid-ssC5WiW2no .item {
  color: #cacaca;
}
.cid-ssC5WiW2no .col-title {
  color: #ffffff;
  font-weight: 600;
}
.cid-ssC5WiW2no .fill-light-wrapper {
  fill: #f9fafb;
  z-index: 2 !important;
  top: 0;
}
.cid-ssC5WiW2no .icons-wrapper ul {
  margin: 0;
  padding: 0;
}
.cid-ssC5WiW2no .icons-wrapper ul li {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}
.cid-ssC5WiW2no .icons-wrapper ul li .mbr-iconfont {
  color: #ffffff;
  font-size: 20px;
}
.cid-ssC5WiW2no .icons-wrapper ul li .mbr-iconfont:hover {
  color: #878787;
}
